# Notion Integration (REQUIRED)
# Get your Notion API Key: https://developers.notion.com/docs/getting-started#step-1-create-an-integration
VITE_NOTION_API_KEY=your_notion_api_key_here

# The ID of your Notion Database
# How to find your database ID: https://developers.notion.com/docs/getting-started#step-2-share-a-database-with-your-integration
VITE_NOTION_DATABASE_ID=your_database_id_here
